/* Enter your custom styles here */
.ts_add {
    margin: 8px;
    border-radius: 2rem solid black;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
}


/*.text.sapMFF{
	color: "white";
}*/